/* center the wrapper */


* {
    font-family: Garamond, Georgia, serif;
}

body, html {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(assets/texture.png);
    background-repeat: repeat;
}

header, footer {
	display: block;
	text-align: center;
}

#wrapper {
    width: 800px;
    min-height: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px auto;
    text-align: left;
    background-color: white;
    padding-left: 50px;
}

#logout {
}

#chatBox {
    height: 600px;
}

#chatDiv {
	position: relative;
    overflow-y: scroll;
	height:600px;
    display: block;
    float: left;
    width: 60%;
}

#userHeading {
	margin-left:30px;
	position: relative;
	width: 30%;
    float: left;
    display: block;
}

.resizedTextbox {
    width: 250px;
    height: 30px;
}

#controls {
    clear: left;
}


td, th {
    text-align: left;
    
}

#connectButton {
    width: 5em;
    height: 2em;
}