/* center the wrapper */


* {
    font-family: Garamond, Georgia, serif;
}

body, html {
    text-align: center;
 /*For IE6 compatibility*/
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(assets/texture.png);
    background-repeat: repeat;
}

#wrapper {
    width: 800px;
    min-height: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px auto;
    text-align: left;
    background-color: white;
    padding-left: 50px;
}

#logout {
    clear: left;
}

#chatBox {
}

#chatDiv {
    height: 200px;
    overflow-y: scroll;
    display: block;
    float: left;
    width: 50%;
}

#userTitle {
    float: left;
    display: block;
}

.resizedTextbox {
    width: 250px;
    height: 30px;
}

#controls {
    clear: left;
}

#footer {
    margin-top: 40px;
    clear: left;
}

td, th {
    text-align: left;
    padding-right: 10px;
    ;
}

#connectButton {
    width: 5em;
    height: 2em;
}